---
extends: default

rules:
  line-length:
    max: 140
    level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  truthy:
    allowed-values: ['true', 'false', 'on']
  document-start:
    present: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  commas:
    max-spaces-after: -1
